<!-- need this .js class to initiate slimscroll -->
<div class="js-sidebar-content">
    <header class="logo hidden-xs">
        <a href="index.html">{{app.name}}</a>
    </header>
    <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
         looks good, so adding it and enhancing with notifications -->
  <!--  <div class="sidebar-status visible-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                </span>
            
                <span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
            &nbsp;
            Philip <strong>Smith</strong>
            <b class="caret"></b>
        </a>
       
    </div> -->
    <!-- main notification links are placed inside of .sidebar-nav -->
    <ul class="sidebar-nav">
        <li>
            <!-- an example of nested submenu. basic bootstrap collapse component -->
            <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
                Dashboard
                <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-dashboard" class="collapse">
                <li><a data-ui-sref="app.page({ page: 'dashboard', child: null })">Dashboard</a></li>
                <li><a data-ui-sref="app.page({ page: 'widgets', child: null })">Widgets</a></li>
				<li><a data-ui-sref="app.page({ page: 'widgets_gradiens', child: null })">Widgets Grad</a></li>
            </ul>
        </li>
      
        <li>
            <a data-ui-sref="app.page({ page: 'charts', child: null })">
                    <span class="icon">
                        <i class="glyphicon glyphicon-stats"></i>
                    </span>
                Charts
            </a>
        </li>
    </ul>
    
    
    
    
   
</div>