<div ng-controller="gradMainCtrl">
<div class="row">
    <div class="col-md-3 col-sm-6">
        <section ng-class="{'bg-success': gms.status.active, 'bg-danger': !gms.status.active}" class="widget text-white" >
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-globe"></i>
                                </span>
                    </div>
                    <div class="col-xs-9">
                        <h5 class="no-margin">Estado de la maquina</h5>
                        <p class="h2 no-margin fw-normal">{{gms.status.active? "Activo" : "Inactivo"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h5 class="no-margin">Ultimo check</h5>
                        <p class="value5">Hace {{gms.status.lastChecked | timeSince}}</p>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="no-margin">Ultima respuesta</h5>
                        <p class="value5">Hace <span time-since-dir></span></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
   
    
    
</div>

 


 
        <div class="panel-group mb-lg" id="accordion2" data-toggle="collapse">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2">
                            Preguntas Y
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseOne2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row" ng-repeat="(quest, val) in morrOptions.y ">

                            <div class="col-md-3 col-sm-6" >
                                <section class="widget">
                                        <header>
                                            <h4>
                                                {{quest}} 
                                            </h4>
                                            <div class="widget-controls">
                                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </header>
                                        <div class="widget-body">
                                            <div  data-morris-chart id="{{quest}}">
                                            </div>  



                                        </div>
                                    </section>
                            </div>
                        
                        <div class="col-md-9 col-sm-6" >
                                <section class="widget">
                                        <header>
                                            <h4>
                                                {{quest}}
                                            </h4>
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-default dropdown-toggle" href="#" data-toggle="dropdown">

                                                    <i class="fa fa-angle-down "></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a id="hour" ng-click="changeLineInterval(1)">Por hora</a></li>
                                                    <li><a id="fourhour" ng-click="changeLineInterval(4)">Cada 4 horas</a></li>
                                                    <li><a id="halfday" ng-click="changeLineInterval(12)">Cada 12 horas</a></li>
                                                    <li><a id="day" ng-click="changeLineInterval(24)">Por dia</a></li>

                                                </ul>
                                            </div>
                                            
                                        </header>
                                        <div class="widget-body">
                                            
                                             <div data-morris-chart data-type="line" data-height="343px" id="line_{{quest}}">

                                        </div>
                                    </section>
                            </div>



                        </div>                           
                        
                        
                        
            
                    
                    </div>
                </div>
            </div>
                
                
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2">
                            Preguntas X
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        
                        <div class="row" ng-repeat="(quest, val) in morrOptions.x ">

                            <div class="col-md-3 col-sm-6" >
                                <section class="widget">
                                        <header>
                                            <h4>
                                                {{quest}} </span>
                                            </h4>
                                            <div class="widget-controls">
                                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </header>
                                        <div class="widget-body">
                                            <div  data-morris-chart id="{{quest}}">
                                            </div>  



                                        </div>
                                    </section>
                            </div>
                        
                        
                         <div class="col-md-9 col-sm-6" >
                                <section class="widget">
                                        <header>
                                            <h4>
                                                {{quest}}
                                            </h4>
                                            <div class="widget-controls">
                                                <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </header>
                                        <div class="widget-body">
                                            
                                             <div data-morris-chart data-type="line" data-height="343px" id="line_{{quest}}">

                                        </div>
                                    </section>
                            </div>



                        </div> 


                        </div>
                       
                        
                        
                        
                    </div>
                </div>
            </div>
            
    </div>
</div>